* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 1rem;
  margin: 1.25rem;
}

.texto {
  display: flex;
  color: black;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap;
  padding: 0.5rem;
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .texto {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .texto {
    font-size: 16px;
    padding: 0.25rem;
  }
}

.texto__blanco {
  color: white;
}

.leer {
  display: inline;
  padding: 0.5rem;
  font-size: 14px;
  color: #6767e4;
}
.leer:hover {
  text-decoration: underline;
}

.header {
  min-height: 500px;
  background-image: url("../img/Banner1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}
.header .gradiente {
  background-image: linear-gradient(rgba(34, 175, 240, 0.61), transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.header .nav {
  background-color: transparent !important;
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}
.header .nav .boton__navbar {
  display: none;
}
@media screen and (max-width: 992px) {
  .header .nav .boton__navbar {
    display: block;
  }
}
.header .nav .cont__img {
  width: 100px;
  height: 100px;
  margin: 0;
}
.header .nav .cont__img .logo {
  max-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  display: flex;
}
.header .nav .cont__img .logo:hover {
  opacity: 0.8;
}
.header .nav .cont__menu {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  border-radius: 7px;
}
@media screen and (max-width: 992px) {
  .header .nav .cont__menu {
    display: none;
  }
}
.header .nav .cont__menu #itemMenu:hover a {
  color: #6767e4;
}
.header .nav .cont__menu .menu {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  flex-grow: 1;
  position: relative;
}
@media screen and (max-width: 1370px) {
  .header .nav .cont__menu .menu {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
}
.header .nav .cont__menu .menu .item__menu {
  display: flex;
  padding-inline: 1rem;
  margin-inline: 1rem;
  color: black;
  text-wrap: wrap;
  flex-wrap: wrap;
  transition: 0.6s;
}
.header .nav .cont__menu .menu .item__menu:hover {
  border: solid #6767e4 2px;
  color: #6767e4;
  border-radius: 7px;
  transform: translateY(-0.2rem);
}
@media screen and (max-width: 1370px) {
  .header .nav .cont__menu .menu .item__menu {
    padding: 0;
    margin: 0.25rem;
  }
}
.header .nav .cont__menu .menu .item__menu a:hover {
  color: #6767e4;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer .asociate {
  background-color: #6767e4;
  display: flex;
  flex-grow: 1;
  padding-inline: 2rem;
  justify-content: space-around;
  align-items: center;
}
.footer .asociate .texto__socio {
  color: white;
  font-size: 22px;
}
.footer .asociate .texto__chiquito {
  color: #aaa3a3;
  font-size: 12px;
  padding: 1rem;
}
.footer .cont__footer {
  background-color: gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.25rem;
}
.footer .cont__footer .cont__contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.footer .cont__footer .texto__redes {
  font-size: 20px;
}
.footer .cont__footer .redes {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border-bottom: solid #6767e4 1px;
}
.footer .cont__footer .redes .img__redes {
  width: 50px;
}
.footer .cont__footer .redes .img__redes:hover {
  transform: scale(1.1);
}
.footer .cont__footer .copirigth {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .subcont__redes {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-bottom: solid black 0.5px;
}
.footer .subcont__redes .cajita {
  display: flex;
  flex-wrap: wrap;
}
.footer .subcont__redes .cajita .titulo__contacto {
  font-size: 20px;
}
.footer .boton {
  height: 2rem;
  border-radius: 7px;
  padding: 0.5rem;
}
.footer .mail {
  color: white;
  font-family: "Roboto", sans-serif;
}
.footer .chatea {
  color: rgba(0, 136, 226, 0.568627451);
  position: fixed;
  top: 89%;
  width: 50px;
  height: 50px;
  right: 50px;
  transition: 1s;
}
.footer .chatea:hover {
  transform: scale(1.3);
}

.cont__noticias {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  place-items: center;
  margin: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.cont__noticias .noticias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 1024px) {
  .cont__noticias .noticias {
    display: flex;
    flex-direction: column;
  }
}
.cont__noticias .noticias .card__noticias {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  border: solid #6767e4 2px;
  width: 500px;
  overflow: hidden;
  justify-content: space-between;
  aspect-ratio: 1;
  transition: 0.8s;
}
.cont__noticias .noticias .card__noticias:hover {
  transform: scale(0.9);
}
@media screen and (max-width: 1024px) {
  .cont__noticias .noticias .card__noticias {
    aspect-ratio: 16/9;
    width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .cont__noticias .noticias .card__noticias {
    width: 600px;
    aspect-ratio: 16/9;
  }
}
@media screen and (max-width: 425px) {
  .cont__noticias .noticias .card__noticias {
    aspect-ratio: 1;
    width: 280px;
    margin-inline: 0;
    padding-inline: 0.25rem;
  }
}
.cont__noticias .noticias .card__noticias .img_noticia {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.cont__noticias .noticias .card__noticias .texto__noticias {
  display: inline;
}

.cont__carrusel {
  height: 350px;
}
.cont__carrusel .img__banner {
  width: 100%;
  height: auto;
}

.img__labo {
  max-width: 250px;
  max-height: 250px;
  transition: 0.4s;
}

.rotHoraria:hover {
  transform: rotate(4deg);
}

.rotAnti:hover {
  transform: rotate(-4deg);
}

.instrumento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.cont__testimonios {
  display: flex;
  justify-content: center;
}
.cont__testimonios .card__testi {
  display: flex;
  flex-grow: 1;
}

.item__lista {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .item__lista {
    font-size: 18px;
  }
}
@media screen and (max-width: 425px) {
  .item__lista {
    font-size: 16px;
    padding: 0.25rem;
  }
}

.conteiner__contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  background-color: rgba(34, 175, 240, 0.61);
  border-radius: 8px;
}

.conteiner__turno {
  display: flex;
  justify-content: center;
}

.cont__mapa {
  justify-content: center;
}

.mapa {
  width: 100%;
  border-radius: 10%;
}

.cont__pregunta {
  border-bottom: solid black 0.5px;
}

.color__1 {
  background-color: #6767e4;
  color: white;
}
.color__1:hover {
  background-color: white;
  border: #6767e4 solid 1px;
  color: #6767e4;
}

.color__2 {
  background-color: #add8e6;
  color: black;
}
.color__2:hover {
  background-color: white;
  border: #add8e6 solid 1px;
  color: rgb(15, 161, 180);
}

.plan {
  flex-grow: 1;
  align-items: center;
  width: 900px;
  padding: 0.25rem;
  margin-block: 2rem;
  position: relative;
}

.plan-A {
  border: solid blue 2px;
  border-radius: 7px;
}

.plan-P {
  border: solid silver 2px;
  border-radius: 7px;
}

.plan-O {
  border: solid gold 2px;
  border-radius: 7px;
}

.pdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -25px;
  right: -20px;
  width: 200px;
}
.pdf .img__pdf {
  max-width: 100px;
}
@media screen and (max-width: 768px) {
  .pdf .img__pdf {
    opacity: 0.4;
  }
}
@media screen and (max-width: 425px) {
  .pdf .img__pdf {
    width: 75px;
    opacity: 0.15;
  }
}
.pdf .texto__pdf {
  font-size: 12px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .pdf .texto__pdf {
    opacity: 0.5;
  }
}

.button {
  display: inline-block;
  padding: 10px 18px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}
.button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #6767e4;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button:hover {
  color: #ffffff;
  border: 1px solid #6767e4;
}
.button:hover::before {
  top: -35%;
  background-color: #6767e4;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button:hover::after {
  top: -45%;
  background-color: #6767e4;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.card {
  position: relative;
  color: white;
  background: #444;
  border-radius: 14px;
}
.card .bg {
  position: absolute;
  z-index: -1;
  inset: -4px;
  border-radius: 16px;
  overflow: hidden;
}
.card .bg::before {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  min-width: 150%;
  min-height: 150%;
  background-image: conic-gradient(hsl(0, 100%, 50%), hsl(30, 100%, 50%), hsl(60, 100%, 50%), hsl(90, 100%, 50%), hsl(120, 100%, 50%), hsl(150, 100%, 50%), hsl(180, 100%, 50%), hsl(210, 100%, 50%), hsl(240, 100%, 60%), hsl(270, 100%, 50%), hsl(300, 100%, 50%), hsl(330, 100%, 50%), hsl(0, 100%, 50%));
  animation: speeen 4s linear infinite;
  transform-origin: 0% 0%;
  transform: rotate(0deg) translate(-50%, -50%);
}
.card .uwu {
  filter: blur(8px);
  transition: filter 0.3s;
}
@keyframes speeen {
  from {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
.card .content {
  position: relative;
  padding: 14px 16px;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.text-focus-in {
  animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-fwd-center {
  animation: slide-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@keyframes slide-fwd-center {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translateZ(160px);
  }
}/*# sourceMappingURL=style.css.map */