.conteiner__contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    background-color: rgba(34, 175, 240, 0.61);
    border-radius: 8px;
}
.conteiner__turno{
    display: flex;
    justify-content: center;
}
.cont__mapa {
    // display: flex;
    justify-content: center;
  }
  .mapa {
    width: 100%;
    border-radius: 10%;
  }
  