a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.titulo{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
          }
.texto{
    display: flex;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    padding: 0.5rem;
    @include mobile{
        font-size: 16px;
        padding: 0.25rem;
    }
    }
.texto__blanco{
    color: white;
}
    