.header{
    min-height: 500px;
    background-image: url('../img/Banner1.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    .gradiente {
        background-image: linear-gradient(rgba(34, 175, 240, 0.61), transparent, transparent, transparent,transparent,transparent,transparent, transparent);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
    .nav{
        background-color: transparent !important; 
        display: flex;
        flex-grow: 1;
        gap: 1rem;
        .boton__navbar{
            display: none;
            @include flag{
                display: block;
            }
        }
        .cont__img{
            width: 100px;
            height: 100px;
            margin: 0;
            .logo{
                max-width: 100px;
                object-fit: contain;
                border-radius: 50%;
                display: flex;
                &:hover{
                    opacity: 0.8;   
                }
            }
        }
        .cont__menu{
            display: flex;
            justify-content: space-around;
            flex-grow: 1;
            border-radius: 7px;
            @media screen and (max-width: 992px){
                display: none;
                }
                    #itemMenu:hover a{
                     color:$maincolor;
                 }
                .menu{
                    list-style: none;
                    margin: 1rem;
                    padding: 1rem;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    justify-content: space-between;
                    font-family: "Roboto", sans-serif;
                    font-size: 22px;
                    flex-grow:  1;
                    position: relative;
                    @include borrar {
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                    }
                    .item__menu{
                        display: flex;
                        padding-inline: 1rem;
                        margin-inline: 1rem;
                        color: black;
                        text-wrap: wrap;
                        flex-wrap: wrap;
                        transition: .6s;
                        &:hover{
                            border: solid #6767e4 2px;
                            color: #6767e4;  
                            border-radius: 7px;
                            transform: translateY(-0.2rem);         
                        }
                        @include borrar{
                            padding: 0;
                            margin: 0.25rem;
                        }
                        & a:hover{
                            color: $maincolor;
                        }
                    }
                }
                // .modoOscuro{
                //     display: inline;
                //     position: fixed !important;
                //     top: 100px;
                //     left: 20px;
                // }
            }
        }
    }