 .conteiner__labo{
    padding: 0;
    margin: 0;
.cont__carrusel{
    height: 350px;
    .img__banner{
        width: 100%;
        height: auto;
    }
}
.img__labo{
    display: flex;
    max-width: 250px;
    max-height: 250px;
    transition: 0.4s;
    @include mobile{
        max-width: 200px;
        align-items: center;
        justify-content: center;
        }   
}
.rotHoraria:hover{
        transform: rotate(4deg);
        }
.rotAnti:hover{
       transform: rotate(-4deg);
        }
.instrumento{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}}