.cont__noticias{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    place-items: center;
    margin: 1rem;
    object-fit: cover;    
.noticias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
@include laptop{
        display: flex;
        flex-direction: column;
    }        
.card__noticias{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: .5rem;
    border: solid $maincolor 2px;
    width: 500px;
    overflow: hidden;
    justify-content: space-between;
    aspect-ratio: 1;
    transition: 0.8s;
    &:hover{
        transform: scale(.9);
    }    
    @include laptop{
        aspect-ratio: 16/9;
        width: 700px;
    }
    @include tablet{
        width: 400px;
        aspect-ratio: 1;
    }
    @include mobile {
        aspect-ratio: 1;
        width: 280px;
        margin-inline: 0;
        padding-inline: 0.25rem;
    }
        .img_noticia{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
                }
    .texto__noticias{
        display: inline;
    }
            }
        }
    }